@import "./custom-properties.css";

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-background);
  color: var(--color-maintext);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

main {
  margin-top: 80px;
}

a {
  color: var(--color-maintext);
}

nav,
footer {
  display: flex;
  width: 100%;
  background: #fcfcfc;
  z-index: 10;
  height: 80px;
}

nav {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  top: 0;
  position: fixed;
}

footer {
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
  position: absolute;
}

nav ul li {
  margin: auto 0;
  display: block;
}

.logo-container {
  padding: 20px 30px;
}

.navbar-module--nav--25Dcz {
  margin: auto;
}

.navlink_book-a-quote {
  padding: 4px 10px;
  border-radius: 5px;
  border-radius: 5px;
  outline: auto #f2bb2f;
}

.navlink_phone-number {
  display: flex;
  /* vertical-align: middle; */
  border-radius: 5px;
  outline: auto #f2bb2f;
}

.navlink_phone-number p {
  margin: auto 10px;
}

.navlink_phone-icon {
  height: 28px;
  display: block;
}

.navlink {
  font-size: 14px;
  font-weight: 400;
}
